*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
}

.container-esterno{
    padding:50px 150px;
}

.container-prima-riga{
    margin-bottom:30px; /*notare che la prima riga contenente le tre immagini
                        è staccata dalla seconda riga contenete le altre tre immagini*/
}

img{
    height: 370px;
}

.primo-prodotto, .secondo-prodotto, .terzo-prodotto{
    display: inline-block;  /*in questo modo il contenitore si adatta alla riga in cui ci 
                            sono le immagini e non su tutta la riga cioè si adatta al contenuto*/
    margin-right:10px;
}

.immagine{
    position: relative;
}

.immagine:hover .heart{
    color:red;  /*cosicchè quando ci passo sopra col mouse il cuoricino diventa rosso*/
}
/*vedere
.immagine:hover .img{
    display: none;
    background-image: url(img/1b.webp);
    height:370px;
}*/

.heart{
    position: absolute;
    top:10px;
    right:0px;
    background-color: white;
    color:black;
}

.scritta-fondo-immagine{
    position:absolute;
    bottom:10px;
    color:white;
}

.percento-di-sconto{
    background-color: red;
    color:white;
}

.sostenibilita{
    background-color: green;
}

.marca{
    font-size: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.modello{
    font-size: 15px;
    font-weight: 800;
    display: block;
}

.prezzo-scontato{
    color:red;
}

.prezzo-originale{
    text-decoration: line-through;  /*la scritta del prezzo originale (non scontato) è sbarrata*/
}

